@charset "EUC-KR";
nav{background-color:#4F698C;}
	
a{
	color:#DFEBF2;
	font-weight: bold;
}
a:hover{color:#6CCED9;}
.active {
    color: #6CCED9;
}
  .img{
    position: relative;
    margin-left: auto;
    margin-right:auto;
    background-image: url(../res/main.jpg);                                                               
    height: 546px;
    width: 959px;
    
  }

  .img-cover{
     position: absolute;
     height: 100%;
     width: 100%;
     /*background-color: rgba(0, 0, 0, 0.7);*/                                                                 
     z-index:1;
  }

  .img .content{
     position: absolute;
     top:20%;
     left:50%;
     transform: translate(-50%, -50%);                                                                   
     font-size:5rem;
     color: #F06078;
     z-index: 2;
     text-align: center;
  }